<%- include("partials/header") %>

    <div id="article-container">
        <h2>Read some of the amazing news:</h2>
        <hr>
        <% news.forEach(item => { %>
            <div class="article-item">
                <!-- <div class="article-content"> -->
                    <% if (item.images.length > 0) { %>
                        <% const firstImgFileName = item.images[0].relativePath; %>
                        <img class="article-img" src="images/newsImages/<%=firstImgFileName%>" alt="<%=item.images[0].title%>">    
                    <% } %>
                    <h3 class="article-title">
                        <%= item.title %>
                    </h3>
                    <p class="article-content">
                        <%= item.content.slice(0, 200) %>... <a href="/articles/<%=item.title%>"> Read more</a>
                    </p>
                <!-- </div> -->
                <hr>
            </div>
        <%  }) %>
    </div>
    <form action="/logout" method="get">
        <button class="btn btn-lg">Sign Out!</button>
    </form>


<%- include("partials/footer") %>