<%- include("partials/header") %>

    <% photoName = student.photoPath; %>
    <div id="student-container" class="student-container">
        <img class="full-img-student" src="/images/studentImages/<%=photoName%>" alt="<%=photoName%>">
        <% const fullName = student.fName + " " + student.lName; %>
        <div class="student-info">
            <div class="main-info">
                <p class="name"><%=fullName%></p>
                <p class="specialty"><%=student.specialty%></p>
            </div>
            <div class="info-container">
                <div class="rank-group-grade">
                    <p>Average grade: <span class="small-info">
                        <% const avgGrade = (student.avgGrade == 0) ? "--" : student.avgGrade; %>
                        <%= avgGrade %>
                    </span></p>
                    <p>Group: <span class="small-info"><%=student.group%></span></p>
                    <p>Rank: <span class="small-info"></span></p>
                </div>
                <div class="subjects">
                    <h3>Grades for every subject</h3>
                    <div class="grades-table">
                        <div class="row">
                            <h5 class="col col-name">Subject</h5>
                            <h5 class="col col-name">Final Grade</h5>
                            <h5 class="col col-name">Grades</h5>
                        </div>
                        <hr>
                        <% student.disciplines.forEach(item => { %>
                            <div class="row">
                                <p class="col grade"><%=item.name%></p>
                                <p class="col"><%=item.avgGradeDisc%></p>
                                <p class="col"><%item.grades.forEach(grade => { %>
                                    <%=grade%>
                                    <% if (grade !== item.grades[item.grades.length - 1]) { %>
                                        <%=", "%>
                                    <% } %>
                                <% })%></p>
                            </div>
                            <hr>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <% if (admin) { %>
            <div class="edit-student-container">
                <h3>Edit student data</h3>
                <form action="/modifyStudent" method="post">
                    <input type="text" name="studentId" hidden value="<%=student.id%>">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Add note</label>
                        <div class="col-sm-8">
                          <input type="text" name="majorAddNote" class="form-control" placeholder="Enter major">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="noteToAdd" class="form-control" placeholder="Enter note">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Delete note</label>
                        <div class="col-sm-8">
                          <input type="text" name="majorDeleteNote" class="form-control" placeholder="Enter major">
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="noteToDelete" class="form-control" placeholder="Enter note">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="major" class="col-sm-2 col-form-label">Add major</label>
                        <div class="col-sm-10">
                          <input type="text" name="majorToAdd" class="form-control" placeholder="Enter major">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btm-large">Submit changes</button>
                </form>
            </div>
        <% } %> 
    </div>
    


<%- include("partials/footer") %>