<%- include("partials/header") %>



    <% photoName = student.photoPath; %>
    <div id="student-container" class="student-container">
        <img class="full-img-student" src="/images/<%=photoName%>" alt="<%=photoName%>">
        <% const fullName = student.fName + " " + student.lName; %>
        <div class="student-info">
            <div class="main-info">
                <p class="name"><%=fullName%></p>
                <p class="specialty"><%=student.specialty%></p>
            </div>
            <div class="info-container">
                <div class="rank-group-grade">
                    <p>Average grade: <span class="small-info"><%=student.avgGrade%></span></p>
                    <p>Group: <span class="small-info"><%=student.group%></span></p>
                    <p>Rank: <span class="small-info"></span></p>
                </div>
                <div class="subjects">
                    <h3>Grades for every subject</h3>
                    <div class="grades-table">
                        <div class="row">
                            <h5 class="col col-name">Subject</h5>
                            <h5 class="col col-name">Final Grade</h5>
                            <h5 class="col col-name">Grades</h5>
                        </div>
                        <hr>
                        <% student.disciplines.forEach(item => { %>
                            <div class="row">
                                <p class="col grade"><%=item.name%></p>
                                <p class="col"><%=item.avgGradeDisc%></p>
                                <p class="col"><%item.grades.forEach(grade => { %>
                                    <%=grade%>
                                    <% if (grade !== item.grades[item.grades.length - 1]) { %>
                                        <%=", "%>
                                    <% } %>
                                <% })%></p>
                            </div>
                            <hr>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
            </div>
    


<%- include("partials/footer") %>