<%- include("partials/header") %>

    <div id="student-container" class="student-container">
        <% photoName = student.photoPath; %>
        <img class="full-img-student" src="/images/studentImages/<%=photoName%>" alt="<%=photoName%>">
        <% const fullName = student.fName + " " + student.lName; %>
        <div class="student-info">
            <div class="main-info">
                <p class="name"><%=fullName%></p>
                <p class="specialty"><%=student.specialty%></p>
            </div>
            <div class="info-container">
                <div class="rank-group-grade">
                    <p>Average grade: <span class="small-info">
                        <% const avgGrade = (student.avgGrade == 0) ? "--" : student.avgGrade; %>
                        <%= avgGrade %>
                    </span></p>
                    <p>Group: <span class="small-info"><%=student.group%></span></p>
                    <p>Rank: <span class="small-info"></span></p>
                </div>
                <div class="subjects">
                    <h3>Grades for every subject</h3>
                    <div class="grades-table">
                        <div class="row">
                            <h5 class="col col-name">Subject</h5>
                            <h5 class="col col-name">Final Grade</h5>
                            <h5 class="col col-name">Grades</h5>
                        </div>
                        <hr>
                        <% student.disciplines.forEach(item => { %>
                            <div class="row">
                                <p class="col grade"><%=item.name%></p>
                                <p class="col">
                                    <% const avgGradeDisc = (item.avgGradeDisc == 0) ? "--" : item.avgGradeDisc; %>
                                    <%= avgGradeDisc %>
                                </p>
                                <p class="col">
                                    <% for (let i = 0; i < item.grades.length; i++) { %>
                                        <%= item.grades[i] %>
                                        <% if (i != item.grades.length -1) { %>
                                            <%= "," %>
                                        <% } %>
                                    <% } %>
                                </p>
                            </div>
                            <hr>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <% if (admin) { %>
            <div class="edit-student-container">
                <h3>Edit student data</h3>
                <form action="/modifyStudent" method="post">
                    <input type="text" name="studentId" hidden value="<%=student.id%>">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label left-align">Add note</label>
                        <div class="col-sm-6">
                          <select type="text" name="disciplineAddNote" class="form-control" placeholder="Enter major">
                            <option value=""></option>
                                <% student.disciplines.forEach(item => { %>
                                    <option value="<%=item.name%>"><%=item.name%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="noteToAdd" class="form-control" placeholder="Enter note">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label left-align">Delete note</label>
                        <div class="col-sm-6">
                            <select type="text" name="disciplineDeleteNote" class="form-control" placeholder="Enter major">
                                <option value=""></option>
                                <% student.disciplines.forEach(item => { %>
                                    <option value="<%=item.name%>"><%=item.name%></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <input type="text" name="noteToDelete" class="form-control" placeholder="Enter note">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="major" class="col-sm-2 col-form-label left-align">Add discipline</label>
                        <div class="col-sm-6">
                            <select type="text" name="disciplineToAdd" class="form-control" placeholder="Enter major">
                                <option value=""></option>
                            <% subjectsForAdding.forEach(subject => { %>
                                <option value="<%=subject%>"><%=subject%></option>
                            <% }) %>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning btm-large">Submit changes</button>
                </form>
            </div>
        <% } %> 
    </div>

<%- include("partials/footer") %>